%header
  .navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        %a.navbar-brand{:href => "/"} GEKITOSTU
        %button.navbar-toggle{"data-target" => "#navbar-main", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      #navbar-main.navbar-collapse.collapse
        %ul.nav.navbar-nav.nav_right
          %li
            %a{:href => "/"} トップページ
          %li
            %a{:href => "/"} ゲキトツの楽しみ方
          %li
            %a{:href => "/"} 利用規約・免責事項
          %li
            %a{:href => "/"} お問い合わせ
