.col-md-4.text-center.object_list
  %a.btn.btn-default.btn-lg.object_btn{:href => "#"}
    .object_panel
      .west_object_word
        喫煙者
      .object_versus
        vs
      .east_object_word
        嫌煙者
      .object_count
        .east_count
          106
        .west_count
          324
.col-md-4.text-center.object_list
  %a.btn.btn-default.btn-lg.object_btn{:href => "#"}
    .object_panel
      .west_object_word
        喫煙者
      .object_versus
        vs
      .east_object_word
        嫌煙者
      .object_count
        .east_count
          106
        .west_count
          324
.col-md-4.text-center.object_list
  %a.btn.btn-default.btn-lg.object_btn{:href => "#"}
    .object_panel
      .west_object_word
        喫煙者
      .object_versus
        vs
      .east_object_word
        嫌煙者
      .object_count
        .east_count
          106
        .west_count
          324
.col-md-4.text-center.object_list
  %a.btn.btn-default.btn-lg.object_btn{:href => "#"}
    .object_panel
      .west_object_word
        喫煙者
      .object_versus
        vs
      .east_object_word
        嫌煙者
      .object_count
        .east_count
          106
        .west_count
          324
.col-md-4.text-center.object_list
  %a.btn.btn-default.btn-lg.object_btn{:href => "#"}
    .object_panel
      .west_object_word
        喫煙者
      .object_versus
        vs
      .east_object_word
        嫌煙者
      .object_count
        .east_count
          106
        .west_count
          324
.col-md-4.text-center.object_list
  %a.btn.btn-default.btn-lg.object_btn{:href => "#"}
    .object_panel
      .west_object_word
        喫煙者
      .object_versus
        vs
      .east_object_word
        嫌煙者
      .object_count
        .east_count
          106
        .west_count
          324
