= render 'shared/header'
%main.container
  %h3.text-center.col-lg-12 人気のゲキトツ
  .row.object_main
    = render 'object'
  = render 'shared/pagination'
  %h3.text-center.col-lg-12 ご意見募集中のゲキトツ
  .row.object_main
    = render 'sub-object'
